* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* shared style */
.font-inter {
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
}

.logo img {
 width: 139px;
 height: 60px;
 letter-spacing: 10px;
 background-color: #FFFFFF;
}

.btn {
 background-color: #469165;
 border: none;
 padding: 12.5px 16px;
 border-radius: 4px;
 font-size: 16px;
 font-weight: 600;
 color: #FFFFFF;
 align-items: center;
 cursor: pointer;
}

.btn:hover {
 background-color: #cc6f6f;
}

/* main style */



nav {
 width: 1600px;
 height: 92px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
 padding: 16px 120px 16px 120px;
 background-color: #FFFFFF;

}

nav .menu {
 align-items: center;
 display: flex;
 list-style-type: none;
 gap: 32px;
}

nav .menu a {
 font-size: 16px;
 color: #000000;
 text-decoration: none;
}

#banner{
 background: url(./assets/hero-bg.png);
 width: 1600px;
 height: 674px;
 padding: 0px;
 margin: 0 auto;

}

#banner .banner-content{
 text-align: center;
padding: 70px 120px 134px 120px;

 
}
.banner-content .button{

 background-color: #FFFFFF;
 border: none;
 padding: 8px 12px 8px 12px;
 border-radius: 1000px;
 font-size: 16px;
 gap: 6px;
 font-size: 16px;
 font-weight: 500;
 color: #469165;
 text-align: center;
 letter-spacing: 0%;
 line-height: 19px;
 cursor: pointer;
 margin-bottom: 16px;
}